<section>
  <header>Graph</header>
  <p>
    This chart will show how much you've spent in each budget with an x axis
    of month, y axis of categories, and a line dictating where you are in the
    given month.
  </p>
  <p>
    over flow will be handled (hopefully) by displaying a red bar instead of a
    in progress bar with a note on how far over budget you are.
  </p>
</section>
