.category-table {
  border-collapse: collapse;
  width: 400px;

  th {
    border-bottom: 1px solid #2e2e2e;
    text-transform: uppercase;
  }

  td {
    padding: 5px;
    input {
      height: 20px;
    }

    &:nth-child(1) {
      input {
        width: 220px;
      }
    }

    &:nth-child(2) {
      text-align: right;

      input {
        width: 70px;
      }
    }
  }

  tr:nth-child(even) {
    background-color: darken(white, 10%);
  }

  button, input[type="submit"] {
    background-color: lightgray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    text-transform: lowercase;
    width: 30px;

    &.danger {
      background-color: #c00000;
      color: white;

      &:hover {
        background-color: lighten(#c00000, 15%);
      }
    }
  }

  col {
    &:nth-child(1) {
      width: 250px;
    }
    &:nth-child(2) {
      width: 100px;
    }
    &:nth-child(3) {
      width: 50px;
    }
  }
}
