nav[role="nav"] {
  header {
    color: darken(#fefefe, 50%);
    font-size: small;
    padding: 1em 1em 0 1em;
    text-transform: uppercase;
  }

  a {
    color: #fefefe;
    display: block;
    padding: 1em;
    text-decoration: none;

    &.active {
      background-color: lighten(#2e2e2e, 3%);
    }

    &:hover {
      background-color: #3d3d3d;
    }

    &:last-child {
      position: fixed;
      width: calc(250px - 2em);
      bottom: 0;
    }
  }
}
